@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#0f0,#000);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section span:hover 
{
  background: #0f0;
  transition: 0s;
}

section .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #0f0;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
.button
{
    padding: 10px;
    padding-top:15px ;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

body {
	margin:  0;
}
.page-content {
	width: 100%;
	margin:  0 auto;
	background: #4077c8;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	min-height: 100vh;
}
.form-v9-content  {
	width: 975px;
	border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: 185px 0;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	position: relative;
}
.form-v9-content .form-detail {
    padding: 30px 135px 30px 100px;
	position: relative;
}
.form-v9-content .form-detail h2 {
	font-size: 35px;
	text-align: center;
	position: relative;
	padding: 16px 0 13px;
	margin-bottom: 55px;
}
.form-v9-content .form-detail h2::after {
	background: #fff;
	width: 73px;
	height: 3px;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.form-v9-content .form-row-total {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 30px;
}
.form-v9-content .form-row {
    width: 100%;
    max-width: 400px;
}
.form-v9-content .form-detail .form-row-last {
	text-align: center;
}
.form-v9-content .form-detail .input-text {
	margin-bottom: 45px;
}
.form-v9-content .form-detail input {
	width: 100%;
    padding: 14.5px 0px 14.5px 30px;
    border: 2px solid #ccc;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    border-radius: 27.5px;
	-o-border-radius: 27.5px;
	-ms-border-radius: 27.5px;
	-moz-border-radius: 27.5px;
	-webkit-border-radius: 27.5px;
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2)
}
.form-v9-content .form-detail input:focus {
	border: 2px solid #999;
}
.form-v9-content .form-detail .login {
	background: #f25d5d;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 20px 0 25px 0;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}
.form-v9-content .form-detail .login:hover {
	background: #d95252;
}
.form-v9-content .form-detail .form-row-last input {
	padding: 14px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e5e5e5;
  font-size: 16px;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #e5e5e5;
  font-size: 16px;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #e5e5e5;
  font-size: 16px;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #e5e5e5;
  font-size: 16px;
}

.form-v9-content .form-detail .form-checkbox {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-v9-content .form-detail .form-checkbox label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
}

.form-v9-content .form-detail .form-checkbox label p {
    margin: 0;
}

.form-v9-content .form-detail .form-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: auto;
}

.form-v9-content .form-detail .form-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ccc;
    border-radius: 4px;
}

.form-v9-content .form-detail .form-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-v9-content .form-detail .form-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.form-v9-content .form-detail .form-checkbox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.form-v9-content .form-detail .form-checkbox a,
.form-v9-content .form-detail .forgot-password a {
    color: #f25d5d;
    text-decoration: none;
}

.form-v9-content .form-detail .form-checkbox a:hover,
.form-v9-content .form-detail .forgot-password a:hover {
    text-decoration: underline;
}

.form-v9-content .form-detail .forgot-password {
    margin: 0;
}

.form-v9-content .form-detail .register-link {
    margin-top: 25px;
    font-size: 14px;
}

.form-v9-content .form-detail .register-link a {
    color: #f25d5d;
    text-decoration: none;
}

.form-v9-content .form-detail .register-link a:hover {
    text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.form-v9-content {
	    margin: 185px 20px;
	}
}
@media screen and (max-width: 767px) {
	.form-v9-content .form-row-total {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
	}
	.form-v9-content .form-row {
		width: 100%;
	}
	
	.form-v9-content .form-detail .form-checkbox {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .form-v9-content .form-detail .forgot-password {
        margin-top: 10px;
        margin-left: 35px;
    }
}
@media screen and (max-width: 575px) {
	.form-v9-content .form-detail {
	    padding: 30px 45px 30px 10px;
	}
}